@{
    ViewBag.Title = "授权信息";
}

<style type="text/css">
    div {
        border: solid 0px blue;
    }
</style>
<div class="row" style="margin-top:80px;">
    <p style="margin-left:750px;">BIMFACE授权信息</p>
    <hr />
    <form class="form-horizontal center-block" role="form">
        <div class="col-md-6 col-md-offset-4">
            <div class="form-group ">
                <label class="col-md-3 control-label" for="" title="APP_NAME">应用名称</label>
                <div class="col-md-9">
                    <input class="form-control" id="" type="text" placeholder="请输入应用名称" />
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-3 control-label" for="" title="APP_KEY">AppKey</label>
                <div class="col-md-9">
                    <input class="form-control" id="" type="text" placeholder="请输入AppKey" />
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-3 control-label" for="" title="APP_SECRET">AppSecret</label>
                <div class="col-md-9">
                    <input class="form-control" id="" type="text" placeholder="请输入AppSecret" />
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-3 control-label" for="" title="APP_COMPANY">申请单位</label>
                <div class="col-md-9">
                    <input class="form-control" id="" type="text" placeholder="请输入申请单位" />
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-3 control-label" for="" title="APP_USER">申请人</label>
                <div class="col-md-9">
                    <input class="form-control" id="" type="text" placeholder="请输入申请人" />
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-3 control-label" for="" title="APP_TEL">联系方式</label>
                <div class="col-md-9">
                    <input class="form-control" id="" type="tel" placeholder="请输入联系方式" />
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-3 control-label" for="" title="API"></label>
                <div class="col-md-9">
                    <button class="btn btn-success">保存</button>
                </div>
            </div>
        </div>
    </form>
</div>