
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SystemConfig</title>
</head>
<body>
    <div> 
        <p>还没写到这呢，再等等</p>
    </div>
</body>
</html>
